.expense-table-root {
  color: black;
  font-size: 1.1em;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.expense-import-bar {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.upload-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  transition: filter 0.2s;
}

.import-expenses-label {
  font-size: 1em;
  color: black;
  margin-right: 0.5em;
  font-weight: 500;
}
